body {
    background-color: rgb(175, 26, 180);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr, repeat(2, 5fr);
    font-family: sans-serif;
}

header {
    grid-column: span 4;
    grid-row: span 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

div {
    margin: 15px;
    padding: 5px;
    height: 100%;
    background-color: rgba(20, 20, 20, 127);
    color: white;
}

table {
    width: 100%;
}

#Chalmers, #Kapellplatsen {
    grid-column: span 1;
    grid-row: span 2;
}

#ChalmersTvärgata, #Chalmersplatsen {
    grid-column: 3/4;
    grid-row: span 1;
}

.destination {
    padding-left: 10px;
}

h1 {
    text-align: center;
}

img {
    grid-column: 3/5;
    height: 130px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 8px;
}

#clock {
    margin: auto;
    color: white;
    font-size: 48px;
    grid-column: 1/3;
}

tr {
    height: 20px;
}

#line {
    text-align: center;
    padding: 5px;
    width: 30px;
}

#dep {
    width: 50px;
}