body {
    /* background-color: #8A2BE2; */
    /* height: 1061px; */
    height: 98vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-gap: 15px;
    font-family: sans-serif;
    background-image: url("itg.jpg");
}

header {
    grid-column: span 4;
    grid-row: span 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#clock {
    margin: auto;
    color: white;
    font-size: 64px;
    text-align: center;
}

#date, #week {
    margin: auto;
    color: white;
    text-align: center;
}

#date {
    margin-top: 3px;
}

#clockdiv {
    grid-column: 3/5;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    align-content: center;
}

#datediv {
    margin: auto;
    display: flex;
    flex-direction: column;
}

/* #datediv > h2 {
    margin-top: 7px;
} */

img {
    grid-column: 2/4;
    height: 100px;
    margin: auto;
}

div {
    padding: 5px;
    background-color: rgba(20, 20, 20, 0.78);
    color: white;
    border-radius: 10px;
}

table {
    width: 100%;
}

#chalmers, #kapellplatsen {
    grid-column: span 1;
    grid-row: 2/8;
}

#chalmerstg {
    grid-column: 3/4;
    grid-row: span 3;
}

#chalmersplatsen {
    grid-column: 3/4;
    grid-row: span 2;
}

#skolmaten {
    grid-column: 4/5;
    grid-row: 3/8;
    text-align: center;
}

#skolmaten > h1 {
    margin-top: 4px;
    margin-bottom: 3px;
    font-size: 30px;
}

#skolmaten > h2 {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 23px;
}

#skolmaten > p {
    margin-top: 0px;
    margin-bottom: 2px;
    font-size: 18px;
}

#info {
    grid-column: 1/5;
    grid-row: 8/10;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#disruptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#disruptions h1 {
    font-size: 36px;
}

#disruptionTitle {
    margin-bottom: 0px;
}

#disruptions h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

#updated p {
    text-align: center;
    margin: 1px;
    padding: 1px;
}

.destination {
    padding-left: 10px;
}

h1, h2, h3, h4 {
    text-align: center;
}

p, tr {
    font-size: 19px;
}

.departure > h1 {
    margin-top: 7px;
    margin-bottom: 7px;
}

tr {
    height: 20px;
}

#line {
    text-align: center;
    padding: 5px;
    width: 30px;
}

#dep {
    width: 50px;
    text-align: center;
}
